In [2]:
from bs4 import BeautifulSoup
from requests import get
import pandas as pd

In [3]:
res=get("https://www.imdb.com/list/ls562915122/")

In [4]:
pg=BeautifulSoup(res.content,'html.parser')

In [7]:
movie_cont=pg.findAll('span',class_='lister-item-year text-muted unbold')
year=[]
#print(movie_cont[0].find("("))

[<span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(III) (2023)</span>, <span class="lister-item-year text-muted unbold">(III)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>, <span class="lister-item-year text-muted unbold">(2023)</span>]

In [9]:
for i in movie_cont:
    year.append(i.string)
print(year)
df=pd.DataFrame({"Year_rlsed":year})
df

['(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(III) (2023)', '(III)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(2023)', '(III) (2023)', '(III)', '(2023)', '(2023)', '(2023)', '(2023)']

   Year_rlsed
0      (2023)
1      (2023)
2      (2023)
3      (2023)
4      (2023)
..        ...
69      (III)
70     (2023)
71     (2023)
72     (2023)
73     (2023)

[74 rows x 1 columns]